name: Build Android APK

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build APK with Buildozer (Docker)
        run: |
          docker run --rm \
            --entrypoint /bin/bash \
            -v "$PWD":/home/user/app \
            -w /home/user/app \
            kivy/buildozer:latest \
            -lc "
              # отключаем вопрос про root (чтобы не было y/n)
              sed -i 's/^warn_on_root *=.*/warn_on_root = 0/' buildozer.spec || true
              buildozer android debug
            "

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: JarvisAI-APK
          path: bin/*.apk
